<script type="text/javascript">//<![CDATA[
    XHR.poll(5,'<%=url("admin/services/jellyfin/status")%>', null,
        function (x, st) {
            var tb = document.getElementById('jellyfin_status');
            if (st && tb) {
                if (st.docker_install){
                    if (st.docker_start){
                        if (st.container_install) {
                            if (st.container_running) {
                                const htmlString = '<br/><em><%:The Jellyfin service is running.%></em>'
                                + "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:open Jellyfin%> \" onclick=\"open_container('" + st.container_port + "')\" />"
                                + "<input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:stop Jellyfin%> \" onclick=\"stop_container('" + st.container_id + "')\" /><br/><br/>";
                                tb.innerHTML = htmlString;
                            }
                            else {
                                tb.innerHTML = '<br/><em><%:The Jellyfin service is not running.%></em>'
                                + "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:run Jellyfin%> \" onclick=\"start_container('" + st.container_id + "')\" />"
                                + "<input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:uninstall Jellyfin%> \" onclick=\"uninstall_container('" + st.container_id + "')\" /><br/><br/>";
                            }
                        }
                        else {
                            let config = document.getElementById('config')
                            if(!config){
                                var configs = [
                                    {id: "media", label: "<%:Media path (optional)%>:", value: st.media_path},
                                    {id: "config", label: "<%:Config path%><sup>*</sup>:", value: st.config_path},
                                    {id: "cache", label: "<%:Transcode cache path (optional)%>:", value: st.cache_path},
                                    {id: "port", label: "<%:Port (optional)%>:", value: st.container_port},
                                ];
                                tb.innerHTML = '<br/><em><%:The Jellyfin service is not installed.%></em>';
                                configs.forEach(function(c){
                                    tb.innerHTML += ("<div class=\"cbi-value\"><label class=\"cbi-value-title\" for=\"" + c.id + "\">" + c.label + "</label>"
                                        + "<div class=\"cbi-value-field\"><input type=\"text\" class=\"cbi-input-text\" id=\"" + c.id + "\" value=\"" + c.value + "\"/></div></div>");
                                });
                                tb.innerHTML += ("<div class=\"cbi-value\"><label class=\"cbi-value-title\"></label>" 
                                        + "<div class=\"cbi-value-field\"><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:install Jellyfin%> \" onclick=\"install_container()\" /></div></div><br>");
                            }
                        }
                    }
                    else{
                        tb.innerHTML = '<br/><em><%:Docker service is not start.%></em>'
                    }
                }
                else{
                        tb.innerHTML = '<br/><em><%:Docker is not installed.%></em>'
                }
            }
        }
    );

    var xhr_post = function(url, data, cb) {
        data = data || {};
        data.token = '<%=token%>';
        cb || docker_status_message('notice', '<img src="/luci-static/resources/icons/loading.gif" alt="" style="vertical-align:middle" />');
        new XHR().post(url, data, (x, d) => {
            cb || docker_status_message();
            cb && cb(x, d);
        });
    };

    function open_container(x) {
        Url = "http://" + window.location.hostname + ":" + x
        // alert(Url)
        window.open(Url)
        return false
    }

    const STOP_URL = '<%=luci.dispatcher.build_url("admin", "services", "jellyfin","stop")%>';

    function stop_container(x) {

        xhr_post(STOP_URL, { container_id: x });
        return false
    }

    const START_URL = '<%=luci.dispatcher.build_url("admin", "services", "jellyfin","start")%>';

    function start_container(x) {

        xhr_post(START_URL, { container_id: x });
        return false
    }

    const UNINSTALL_URL = '<%=luci.dispatcher.build_url("admin", "services", "jellyfin","uninstall")%>';

    function uninstall_container(x) {

        xhr_post(UNINSTALL_URL, { container_id: x });
        return false
    }

    const INSTALL_URL = '<%=luci.dispatcher.build_url("admin", "services", "jellyfin","install")%>';

    function install_container(x) {
        let config = document.getElementById('config')
	    let media = document.getElementById('media')
        let cache = document.getElementById('cache')
        let port = document.getElementById('port').value
        let media_path = media.value
        let config_path = config.value
        let cache_path = cache.value

        if (config_path == "") {
            alert("<%:Config path could not be empty!%>");
            return false;
        }

        xhr_post(INSTALL_URL, { media: media_path, config: config_path, cache: cache_path, port: port }, (x, d) => {
            // alert(" 删除容器'" + d.image_name + "' ");
            location.reload()
        });
        uci_confirm_docker();

        return false
    }
//]]></script>

<fieldset class="cbi-section">
    <fieldset class="cbi-section-node" id="jellyfin_status">
        <em>
            <%:Collecting data...%>
        </em>
    </fieldset>
</fieldset>
