<%+header%>

<%+tasks/embed%>
<script type="text/javascript">
	(function() {
		window.openclawmgrConfig = {
			token: "<%=token or ''%>",
			statusUrl: "<%=url('admin/services/openclawmgr/status')%>",
			readyUrl: "<%=url('admin/services/openclawmgr/ready')%>",
			opUrl: "<%=url('admin/services/openclawmgr/op')%>",
			checkUpdateUrl: "<%=url('admin/services/openclawmgr/check_update')%>",
			configUrl: "<%=url('admin/services/openclawmgr/config_data')%>",
			applyUrl: "<%=url('admin/services/openclawmgr/apply_config')%>",
			staticBase: "<%=resource%>/openclawmgr"
		};
	})();
</script>
<div class="openclawmgr-host">
	<div id="openclawmgr-app" data-openclawmgr-shadow></div>
</div>
<script type="text/javascript" src="<%=resource%>/openclawmgr/app.js?v=<%=os.time()%>"></script>
<%+footer%>
