<script type="text/javascript">//<![CDATA[
    XHR.poll(5,'<%=url("admin/services/ubuntu/status")%>', null,
        function (x, st) {
            var tb = document.getElementById('ubuntu_status');
            if (st && tb) {
                if (st.docker_install){
                    if (st.docker_start){
                        if (st.container_install) {
                            if (st.container_running) {
                                var htmlStr = '<br/><em><%:The ubuntu service is running.%></em>';
                                
                                var configs = [
                                    {id: "userName", label: "<%:UserName%>:", value: st.user_name},
                                    {id: "password", label: "<%:Password%>:", value: st.password},
                                ];
                                configs.forEach(function(c){
                                    htmlStr += ("<div class=\"cbi-value\"><label class=\"cbi-value-title\" for=\"" + c.id + "\">" + c.label + "</label>"
                                        + "<div><label class=\"cbi-value-title\" id=\"" + c.id + "\"/>" + c.value + "</label></div></div>");
                                });

                                htmlStr += "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:open ubuntu%> \" onclick=\"open_container('" + st.container_port + "')\" />";
                                htmlStr+= "<input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:stop ubuntu%> \" onclick=\"stop_container('" + st.container_id + "')\" /><br/><br/>";

                                tb.innerHTML = htmlStr;
                            }
                            else {
                                tb.innerHTML = '<br/><em><%:The ubuntu service is not running.%></em>'
                                + "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:run ubuntu%> \" onclick=\"start_container('" + st.container_id + "')\" />"
                                + "<input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:uninstall ubuntu%> \" onclick=\"uninstall_container('" + st.container_id + "')\" /><br/><br/>";
                            }
                        }
                        else {
                            let port = document.getElementById('port')
                            if(!port){
                                var configs = [
                                    {id: "port", label: "<%:Port (optional)%>:", value: st.container_port},
                                    {id: "password", label: "<%:Password (optional)%>:", value: st.password},
                                ];
                                tb.innerHTML = '<br/><em><%:The ubuntu service is not installed.%></em>';
                                configs.forEach(function(c){
                                    tb.innerHTML += ("<div class=\"cbi-value\"><label class=\"cbi-value-title\" for=\"" + c.id + "\">" + c.label + "</label>"
                                        + "<div class=\"cbi-value-field\"><input type=\"text\" class=\"cbi-input-text\" id=\"" + c.id + "\" value=\"" + c.value + "\"/></div></div>");
                                });
                                tb.innerHTML += ("<div class=\"cbi-value\"><label class=\"cbi-value-title\" for=\" version \"><%:Version%></label>"
                                        + "<div class=\"cbi-value-form\"><form><select id=\"version\"><option value=\"standard\"><%:standard version%>:</option><option value=\"full\"><%:full version%></option></select></form></div></div>");
                                tb.innerHTML += ("<div class=\"cbi-value\"><label class=\"cbi-value-title\"></label>" 
                                        + "<div class=\"cbi-value-field\"><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:install ubuntu%> \" onclick=\"install_container()\" /></div></div><br>");
                            }
                        }
                    }
                    else{
                        tb.innerHTML = '<br/><em><%:Docker service is not start.%></em>'
                    }
                }
                else{
                        tb.innerHTML = '<br/><em><%:Docker is not installed.%></em>'
                }
            }
        }
    );

    var xhr_post = function(url, data, cb) {
        data = data || {};
        data.token = '<%=token%>';
        cb || docker_status_message('notice', '<img src="/luci-static/resources/icons/loading.gif" alt="" style="vertical-align:middle" />');
        new XHR().post(url, data, (x, d) => {
            cb || docker_status_message();
            cb && cb(x, d);
        });
    };

    function open_container(x) {
        Url = "https://" + window.location.hostname + ":" + x
        // alert(Url)
        window.open(Url)
        return false
    }

    const STOP_URL = '<%=luci.dispatcher.build_url("admin", "services", "ubuntu","stop")%>';

    function stop_container(x) {

        xhr_post(STOP_URL, { container_id: x });
        return false
    }

    const START_URL = '<%=luci.dispatcher.build_url("admin", "services", "ubuntu","start")%>';

    function start_container(x) {

        xhr_post(START_URL, { container_id: x });
        return false
    }

    const UNINSTALL_URL = '<%=luci.dispatcher.build_url("admin", "services", "ubuntu","uninstall")%>';

    function uninstall_container(x) {

        xhr_post(UNINSTALL_URL, { container_id: x });
        return false
    }

    const INSTALL_URL = '<%=luci.dispatcher.build_url("admin", "services", "ubuntu","install")%>';

    function install_container(x) {
        
        let password = document.getElementById('password').value
        let port = document.getElementById('port').value
        let version = document.getElementById('version').value
        // alert(" 安装容器'" + version + "' ");

        xhr_post(INSTALL_URL, {password: password, port: port, version: version}, (x, d) => {
            location.reload()
        });
        uci_confirm_docker();

        return false
    }
//]]></script>

<fieldset class="cbi-section">
    <fieldset class="cbi-section-node" id="ubuntu_status">
        <em>
            <%:Collecting data...%>
        </em>
    </fieldset>
</fieldset>
